__pycache__/
work_localPIT/
work_inference/
*.out
*.err
*.zip
*.pdf
.vscode/
sbi_logs/
script_margaret_localPIT_regression_old.py
*.pyc
notebooks/Toymodel_Timeseries.ipynb
saved_experiments/JR-NMM/**/Flows_amortized/*
saved_experiments/JR-NMM/fixed_gain_3d/datasets_train.pkl
saved_experiments/JR-NMM/fixed_gain_3d/lc2st_results/*
saved_experiments/JR-NMM/fixed_gain_3d/lc2st_eval_clfs/*
saved_experiments/JR-NMM/normal_4d/images_neurips/*
saved_experiments/JR-NMM/normal_4d/lc2st_results/10000/*
saved_experiments/JR-NMM/normal_4d/lc2st_results/*/pca/*
saved_experiments/JR-NMM/normal_4d/old_experiments/*
saved_experiments/JR-NMM/normal_4d/datasets_naive.pkl
saved_experiments/JR-NMM/normal_4d/datasets_hnpe.pkl
saved_experiments/JR-NMM/normal_4d/lc2st_results/12500/clfs*.pkl
saved_experiments/SBIGaussian2d/clfs*.pkl
saved_experiments/SBIGaussian2d/waldo*.pkl
saved_experiments/JR-NMM/normal_4d/lct_results/*
saved_experiments/JR-NMM/normal_4d/lc2st_results/*
saved_experiments/JR-NMM/normal_4d/lc2st_eval_clfs/*




